<div class="row">
    <% @elections.each do |election| %>
        <div class="col-12 mb-4">
            <%= link_to election do %>
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class=""><h3><%= election.title %></h3></div>
                            <div class="">
                                <span class="badge badge-pill badge-info  align-top mr-2">créé par <%= election.user.first_name  %></span>
                                <% if election.started == false && election.end == false %>
                                    <span class="badge badge-pill badge-secondary align-top float-right p-2">Vote non débuté</span>
                                <% elsif election.started == true && election.end == false %>
                                    <span class="badge badge-pill badge-primary align-top float-right p-2">Vote en cours</span>
                                <% elsif election.started == true && election.end == true %>
                                    <span class="badge badge-pill badge-warning align-top float-right p-2">élection terminée</span>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <%= election.description %>
                    </div>
                </div>
            <% end %>
        </div>
<% end %>